<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="{{ url_for('static',filename='source/pic/wifi1.png') }}" type="image/x-icon">
    <link rel='stylesheet' type='text/css' href="{{ url_for('static',filename='css/style.css') }}">
    <!-- <script type='text/javascripts' src="{{ url_for('static',filename='scripts/scripts.js') }}"></script> -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>WPD Router</title>
</head>

<body style="background-image: url('static/source/pic/hack2.jpg');">
    <h3>WPD Router</h3>
    <a style='position:absolute;top:80%;left:50%;transform:translate(-50%,-50%);padding:1rem;background:linear-gradient(65deg,#F4D03F,#FCF3CF);text-decoration:none;color:black;border-radius:0.3rem;box-shadow:0px 0px 10px 2px black;font-size:large;margin:auto;align-self:center;text-shadow:2px 2px 5px black;'
        download='scanme.py' href='static/modules/fileanalysis.py'>Scanme Download</a>
    <form action="/" method="POST" class="lpanel">
        <table>
            <tr>
                <td align="center" class='head'>MONITOR</td>
            </tr>
            <tr>
                <td><input type="text" name='userid' id='userid' placeholder="User" class="ibox"></td>
            </tr>
            <tr>
                <td><input type="password" name='passwd' id='passwd' placeholder="password" class="ibox"></td>
            </tr>
            <tr>
                <td align="center"><input type="submit" value="Sign In"></td>
            </tr>
            <tr>
                <td>{{ warning }}</td>
            </tr>
        </table>
    </form>
</body>

</html>