<!DOCTYPE html>
<html>

<head>
    <title>WPD Router</title>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel='stylesheet' type='text/css' href="{{ url_for('static',filename='css/styles.css') }}">
    <script src="{{ url_for('static',filename='scripts/scripts.js') }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body style="background-image: url('static/source/pic/hack2.jpg');">
    <!-- <div class="load">
        <img class="limg" src="static/source/pic/without pentester.png">
        <img class="pimg" src="static/source/pic/pentester.png" />
    </div> -->
    <navtitle id='mainnav'>
        <nav>
            <!-- <a class="a active" href="#home" onclick="ishow('ihome');">Home</a>
            <a class="a" href="#account" onclick="ishow('iset');">Account</a>
            <a class="a" href="#about" onclick="ishow('about');">About</a> -->
        </nav>
        <div class="panel">
            <h3>WPD Router</h3>
            <!-- <div class="subpanel" id='home'>
                <div class="subpanel" id='home'>
                </div>
                <div class="wifi" id="ihome" style="display:none;">
                </div>
            </div>
            <div class="subpanel" id='account'>
                <div class="wifi" id="iset" style="display:none;">
                </div>
            </div>
            <div class="subpanel" id='about'>
                <div class="wifi" id="iabout" style="display:none;">
                </div>
            </div> -->
            <div class="subpanel" id='wifi'>
                <div class="wifi" id="iwifi" style="display:block;">
                    <div class="wifitrack" id="track1"></div>
                    <div class="wifitrack" id="track2"></div>
                    <div class="wifitrack" id="track3"></div>
                    <div class="wifitrack" id="track4"></div>
                </div>
                <div class="containerlist" id='wifis'></div>
            </div>
            <div class="subpanel" id='ptest'>
                <div class="pen" id="ipen" style="display:none;">
                    <img src="static/source/pic/gear.png" class='icmg'>
                    <img src="static/source/pic/system.png" class="penimg">
                </div>
                <div class="containerlist" id='pentest'></div>
            </div>
            <div class="subpanel" id='foren'>
                <div class="foren" id="iforen" style="display:none;">
                    <div class="forensictrack"><img src='static/source/pic/fingerprint.png'>
                        <div class="fline"></div>
                    </div>
                </div>
                <div class="containerlist" id='forensic'></div>
            </div>
        </div>
        <nav>
            <a class="a active" href="#wifi" onclick="ishow('iwifi');">WIFI</a>
            <a class="a" href="#ptest" onclick="ishow('ipen');">Pen-Test</a>
            <a class="a" href="#foren" onclick="ishow('iforen');">Forensic</a>
        </nav>
        <script>
            var header = document.getElementById("mainnav");
            var btn = header.getElementsByClassName("a");
            for (var i = 0; i < btn.length; i++) {
                btn[i].addEventListener("click", function() {
                    var current = document.getElementsByClassName("active");
                    current[0].className = current[0].className.replace(" active", "");
                    this.className += " active";
                });
            }
        </script>
    </navtitle>
    <div id="insertnow"></div>
    <script>
        $("document").ready(function() {
            setInterval(function() {
                $.ajax({
                    url: "/monitor/",
                    success: function(data) {
                        console.log(data);
                        spliter(data)
                    }
                });
            }, 5000);
        });
    </script>
</body>

</html>